/*----------------------------------------------------------
┆   base color                                             ┆
└---------------------------------------------------------*/
$blue = #46A3FF;
$light-blue = #2894FF;
$grey-blue = #0080FF;
$gray-blue = #0066CC;
$dark-blue = #003D79;
$red = #FF0000;
$light-red = #EA0000;
$grey-red = #CE0000;
$gray-red = #930000;
$dark-red = #4D0000;
$pink = #E65D6E;
$light-pink = #FFB5B5;
$grey-pink = #FF9797;
$gray-pink = #ff7575;
$dark-pink = #FF5151;
$yellow = #FFFF37;
$light-yellow = #F9F900;
$grey-yellow = #E1E100;
$gray-yellow = #A6A600;
$dark-yellow = #5B5B00;
$gold = #FFDC35;
$light-gold = #FFD306;
$grey-gold = #EAC100;
$gray-gold = #C6A300;
$dark-gold = #796400;
$green = #4EFEB3;
$light-green = #1AFD9C;
$grey-green = #02F78E;
$gray-green = #02C874;
$dark-green = #01814A;
$tiffany = #4DFFFF;
$light-tiffany = #00FFFF;
$grey-tiffany = #00E3E3;
$gray-tiffany = #00AEAE;
$dark-tiffany = #005757;
$white = #FFFFFF;
$grey-white = #F0F0F0;
$gray-white = #D0D0D0;
$grey = #9D9D9D;
$gray = #7B7B7B;
$grey-black = #5B5B5B;
$gray-black = #3C3C3C;
$black = #000000;

/*----------------------------------------------------------
┆   side bar                                               ┆
└---------------------------------------------------------*/
$menuColor = #1E90FF;
$menuText = #F5F5F5;
$menuActiveColor = #324157;
$menuActiveText = #FEC171;

/*----------------------------------------------------------
┆   box style                                              ┆
└---------------------------------------------------------*/
$prop-border = 'border', 'border-left', 'border-right', 'border-top', 'border-bottom';
$prop-margin = 'margin-left', 'margin-right', 'margin-top', 'margin-bottom';
$icon-size = 16, 24, 32, 48, 64, 96, 128, 256;
$font-size = 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2;
$font-color = {'blue':$blue, 'light-blue':$light-blue, 'grey-blue':$grey-blue, 'gray-blue':$gray-blue, 'dark-blue':$dark-blue,
'red':$red, 'light-red':$light-red, 'grey-red':$grey-red, 'gray-red':$gray-red, 'dark-red':$dark-red,
'pink':$pink, 'light-pink':$light-pink, 'grey-pink':$grey-pink, 'gray-pink':$gray-pink, 'dark-pink':$dark-pink,
'yellow':$yellow, 'light-yellow':$light-yellow, 'grey-yellow':$grey-yellow, 'gray-yellow':$gray-yellow, 'dark-yellow':$dark-yellow,
'gold':$gold, 'light-gold':$light-gold, 'grey-gold':$grey-gold, 'gray-gold':$gray-gold, 'dark-gold':$dark-gold,
'green':$green, 'light-green':$light-green, 'grey-green':$grey-green, 'gray-green':$gray-green, 'dark-green':$dark-green,
'tiffany':$tiffany, 'light-tiffany':$light-tiffany, 'grey-tiffany':$grey-tiffany, 'gray-tiffany':$gray-tiffany, 'dark-tiffany':$dark-tiffany,
'white':$white, 'grey-white':$grey-white, 'gray-white':$gray-white, 'grey':$grey, 'gray':$gray, 'grey-black':$grey-black, 'gray-black':$gray-black, 'black':$black}
$box-align = 'center', 'left', 'right';
$box-size = 200, 175, 150, 125, 100, 95, 90, 85, 80, 75, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5;

/*----------------------------------------------------------
┆   bar size                                               ┆
└---------------------------------------------------------*/
$sideBarWidth = 200px;
$headBarHeight = 60px;
$headBarIconWidth = 40px;
$headBarTitleWidth = 180px;
$headBarInfoWidth = 300px;
$headBarLoginWidth = 150px;
$textFlexRowWidth = -240px;
$textFlexRowHeight = 40px;
$textFlexColWidth = 200px;
$textFlexColHeight = 40px;
$tabsLabelHeight = 50px;
$tableTitleHeight = 40px;
$tableToolbarHeight = 30px;
$tableColumnHeight = 50px;
$tablePageHeight = 40px;
$scrollBarWidth = 10px;
$scrollBarHeight = 10px;

/*----------------------------------------------------------
┆   pane size                                               ┆
└---------------------------------------------------------*/
$sidePaneWidth = 250px;
$headPaneHeight = 100px;

/*----------------------------------------------------------
┆   psd design size                                        ┆
└---------------------------------------------------------*/
$psdWidth = 750px;
$psdHeight = 1334px;

/*----------------------------------------------------------
┆   the :export directive is the magic sauce for webpack   ┆
└---------------------------------------------------------*/
:export {
  menuColor: $menuColor;
  menuText: $menuText;
  menuActiveColor: $menuActiveColor;
  menuActiveText: $menuActiveText;
  sideBarWidth: $sideBarWidth;
  headBarHeight: $headBarHeight;
  sidePaneWidth: $sidePaneWidth;
  headPaneHeight: $headPaneHeight;
  tabsLabelHeight: $tabsLabelHeight;
}
